<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/tasks">Task Index</a></li>
  <li class="active"><%= @task.title %></li>
</ol>

<div class='page-header'>
  <h1><%= @task.title %> <br>
  <small><%= @task.description %></small>
  </h1>
</div>

